openapi: 3.0.3
info:
  title: MIRTO DynAA API
  description: |-
    This API offers an interface to the DynAA service. It takes descriptions of application service
    chains, and provides simulation results on the system performance
  contact:
    email: coen.vanleeuwen@tno.nl
  version: v1
servers:
  - url: 'http://myrtus.hesi.energy:5000/dynaa'
paths:
  /simulation:
    post:
      tags: [ simulation ]
      summary: Run a simulation
      description: Runs a simulation of the provided MIRTO-DynAA model, and return KPIs
      operationId: simulation.post
      requestBody:
        description: The MIRTO-DynAA model of the application service chain
        content:
          application/yaml:
            schema:
              $ref: '#/components/schemas/service_chain'             
            examples:
              Helmond traffic use case:
                $ref: "examples.yaml#/components/examples/traffic-usecase"
              Traffic camera as control source:
                $ref: "examples.yaml#/components/examples/control-segments"
              Myrtus face application:
                $ref: "examples.yaml#/components/examples/myrtus-face"
        required: true
      responses:
        '200':
          description: Id for the simulation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifier"
        '400':
          description: Invalid input
      security:
        - apiAuth: []

  /simulation/{simulation_id}:
    get:
      tags: [ simulation ]
      summary: Get simulation status
      description: Get the status of an ongoing simulation
      parameters:
        - in: path
          name: simulation_id
          schema:
            $ref: "#/components/schemas/Identifier"
          required: true
          description: id of the simulation to get
      responses:
        '200':
          description: A tuple of simulation status and pki list        
          content:
            application/json:
              schema:          
                $ref: '#/components/schemas/simulation_status'
        '404':
            description: Simulation not found
      security:
        - apiAuth: []
    delete:
      tags: [ simulation ]
      summary: Delete simulation
      description: Delete a specific simulation
      parameters:
        - in: path
          name: simulation_id
          schema:
            $ref: "#/components/schemas/Identifier"
          required: true
          description: id of the simulation to delete
      responses:
        '200':
          description: Simulation deleted
        '404':
          description: Simulation not found
      security:
        - apiAuth: []

components:
  securitySchemes:
    apiAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      # x-apikeyInfoFunc: mirto.api.security.authenticate
  schemas:
    Identifier:
      type: string
      format: uuid
      example: "2ec00286-d84c-40fa-8d89-44fc07f0a842"
    simulation_status:
      type: object
      properties:
        status:
          type: string
          enum: [running, finished, error, unknown]
        kpis:
          $ref: '#/components/schemas/kpi_list'      
    data_size:
      type: string
      description: Amount of memory
      pattern: '^([1-9]\d{0,9}(\.\d{1,3})?|0\.\d{1,3}) ([GM]i?|k|Ki)?B$'
    duration:
      type: string
      description: Absolute time duration
      pattern: '^([1-9]\d{0,9}(\.\d{1,3})?|0\.\d{1,3}) [mun]?s$'
    throughput:
      type: string
      description: Speed of data transmission
      pattern: '^([1-9]\d{0,9}(\.\d{1,3})?|0\.\d{1,3}) ([TGMK]i?)?[Bb]ps$'
    frequency:
      type: string
      description: Frequency in Herz
      pattern: '^([1-9]\d{0,9}(\.\d{1,3})?|0\.\d{1,3}) [TGMk]?Hz$'

    service_chain:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the application service chain
        description:
          type: string
          description: A free form field to put a human readable description of this service chain
        version:
          type: string
          description: The version of the application chain
        computes:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/compute'
        networks:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/network'
        software components:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/software_component'
    compute:
      type: object
      required:
        - id
      additionalProperties: false
      properties:
        id:
          type: string
          description: The id of the node
        description:
          type: string
          description: A free form field to put a human readable description
        cpus:
          type: integer
          description: Number of CPUs in this node
          minimum: 1
        cpu_speed:
          $ref: '#/components/schemas/frequency'
        mem:
          $ref: '#/components/schemas/data_size'
        disk:
          $ref: '#/components/schemas/data_size'
    network:
      type: object
      required:
        - peers
        - bandwidth
        - latency
      additionalProperties: false
      properties:
        id:
          type: string
          description: The identifier for this network
        description:
          type: string
          description: A free form field to put a human readable description
        peers:
          type: array
          description: The id of the peers in this link. Should refer to ids of computes
          items:
            type: string
        bandwidth:
          $ref: '#/components/schemas/throughput'
        latency:
          $ref: '#/components/schemas/duration'
        local:
          type: boolean
          description: >
            Denotes whether the peers in this link can only access each other, or
            to a global external network.
          default: false
    software_component:
      type: object
      additionalProperties: false
      required:
        - id
        - segments
      properties:
        id:
          type: string
        description:
          type: string
          description: A free form field to put a human readable description of the software component
        base_load:
          $ref: '#/components/schemas/load'
        segments:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/segment'
              - $ref: '#/components/schemas/repeat'
              - $ref: '#/components/schemas/concurrent'
            # $ref: '#/components/schemas/segment'
          minItems: 1
    load:
      type: object
      description: 'Defines the memory, CPU and/or duration of a task or segment.'
      additionalProperties: false
      properties:
        memory:
          $ref: '#/components/schemas/data_size'
        cpu_load:
          type: number
        duration:
          $ref: '#/components/schemas/duration'
    repeat:
      description: 'Repeat a sequence of segments n times.'
      type: object
      additionalProperties: false
      required:
        - segments
      properties:
        n_times:
          type: number
          default: -1
          description: 'The number of times to repeat.  Use -1 for infinite repetitions.'
        segments:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/segment'
              - $ref: '#/components/schemas/repeat'
              - $ref: '#/components/schemas/concurrent'
              - $ref: '#/components/schemas/choice'
          minItems: 1
          description: 'The segments to repeat. If more than one, a sequence will be used.'
    concurrent:
      description: 'Run segments concurrently.'
      type: object
      additionalProperties: false
      required:
        - segments
      properties:
        segments:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/segment'
              - $ref: '#/components/schemas/repeat'
              - $ref: '#/components/schemas/choice'
              - $ref: '#/components/schemas/concurrent'
              #TODO: add support for sequence
          minItems: 1
          description: 'List of segments to run concurrently'
    choice:
      description: 'Choose a segment at random based on a given set of weights.'
      type: object
      additionalProperties: false
      required:
        - segments
      properties:
        segments:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/segment'
              - $ref: '#/components/schemas/repeat'
              - $ref: '#/components/schemas/concurrent'
              - $ref: '#/components/schemas/choice'
            #TODO: add support for sequence
          minItems: 1
          description: 'List of segments to choose from'
        weights:
          type: array
          items:
            type: number
          minItems: 1
          description: 'List of weights for each segment. Should be same length as segments.'
    segment:
      type: object
      additionalProperties: false
      required:
        - id
        - stops_after
      properties:
        id:
          type: string
        description:
          type: string
          description: A free form field to put a human readable description
        load:
          $ref: '#/components/schemas/load'
        emits:
          type: object
          additionalProperties: false
          properties:
            size:
              $ref: '#/components/schemas/data_size'
            target:
              description: >
                The id of the segment that will receive this data. Either a single string with the
                segment ID, or an array of multiple IDs must be provided.
              anyOf:
                - type: string
                - type: array
                  items:
                    type: string
                  minItems: 1
            when:
              type: string
              description: When the emission takes place
              enum:
                - on_start
                - on_finish
        stops_after:
          type: object
          description: >
            The end conditions of a segment in absolute time, in CPU cycles, or in both. When both
            elements are given, the sum of both applies. Alternatively an "event" may trigger the
            end of a segment, which is currently possible by having another segment send data to it.
          additionalProperties: false
          properties:
            time:
              $ref: '#/components/schemas/duration'
            cycles:
              type: integer
            event:
              type: boolean
          minProperties: 1
    channel:
      type: object
      additionalProperties: false
      required:
        - peers
      properties:
        id:
          type: string
        description:
          type: string
          description: A free form field to put a human readable description
        peers:
          type: array
          description: The ids of the peers in this channel. Should refer to ids of segments
          minItems: 2
          items:
            type: string
    kpi_list:
      type: array
      items:
        type: object
